
<ng-container *ngIf="displayMode === 'display'">
<div *ngIf="eventSelected" class="event-header">
  <div class="icon-container">
    <mat-icon>local_activity</mat-icon>
    <div class="event-header-text">{{ eventSelected.eventName }}</div>
</div>
</div>
<ng-container *ngIf="eventSelected || eventSelected.details?.length">
  <ng-container *ngFor="let detail of eventSelected.details">

    <!-- DETAIL -->
    <app-detail-card [displayMode]="displayMode" [detailData]="detail"/>

    <!-- LOCATION -->
    <app-location-card [displayMode]="displayMode" [eventSelected]="eventSelected"/>
    <mat-divider></mat-divider>
    <!-- PERFORMERS -->
    <div>
      <ng-container *ngIf="detail.performers?.length">
        <app-performer-card *ngFor="let performer of detail.performers" [displayMode]="displayMode" [performerData]="performer"/>
      </ng-container>
    </div>

     <div>
      <app-goal-card [displayMode]="displayMode" [eventSelected]="eventSelected"/>
      <app-note-card [eventSelected]="eventSelected" [displayMode]="displayMode"/>
      <app-reflection-card [eventSelected]="eventSelected" [displayMode]="displayMode"/>
    </div>
  </ng-container>
</ng-container>
</ng-container>
