 <div *ngIf="eventSelected" class="event-header">
    <div class="icon-container"><mat-icon>local_activity</mat-icon> <div class="display-large">{{ eventSelected.eventName }}</div></div>
  </div>

 <ng-container *ngIf="eventSelected && eventSelected.details?.length">
   <ng-container *ngFor="let detail of eventSelected.details">

     <!-- DETAIL -->
     <app-detail-card
       [displayMode]="'display'"
       [detailData]="detail"
       [convertTimeStringToDate]="convertTimeStringToDate">
     </app-detail-card>

     <!-- LOCATION -->
     <app-location-card
       [displayMode]="'display'">
     </app-location-card>
<mat-divider></mat-divider>
     <!-- PERFORMERS -->
     <ng-container *ngIf="detail.performers?.length">
         <app-performer-card
           *ngFor="let performer of detail.performers"
           [displayMode]="'display'"
           [performerData]="performer">
         </app-performer-card>
     </ng-container>

   </ng-container>
 </ng-container>

