<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span class="title">Goals</span>
      <span><mat-icon>sports_score</mat-icon></span>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <form id="goalForm" [formGroup]="goalForm" action="#">
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>Goals</mat-label>
          <textarea matInput [formControl]="goal"
                    id="goal"
                    rows="15"
                    cols="100"
                    placeholder="Dream big. Jot down goals here.">
          </textarea>
        </mat-form-field>
      </div>
    </div>
    <button type="submit" (click)="onSubmit()">submit</button>
  </form>
</mat-expansion-panel>
