
div.container {
  margin: 0 auto ;
  max-width: 800px;
}

div.container-fluid {
  justify-content: space-evenly;
}

.panel-wrapper {
  margin-bottom: 2rem;
}

.panel-wrapper:first-child {
  margin-top: 1rem;
}

form {
  margin: 0 auto;
}

.button-row {
  align-items: center;
  display: flex;
  gap: .5rem;
  justify-content: flex-end;
  margin-bottom: 0;
  margin-top: 3rem;
}



.performer-entry-container {
  //background-color: var(--mat-sys-scrim);
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  padding: 1rem;
  //position: relative;
}

.x-btn {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-left: 16px;
  z-index: 2;
}


