<div class="container">
  <div class="button-row">
    <button mat-button (click)="accordion.openAll()">Expand forms</button>
    <button mat-button (click)="accordion.closeAll()">Collapse forms</button>
  </div>

  <form [formGroup]="planEventForm" (ngSubmit)="onSubmit()">
    <mat-accordion #accordion="matAccordion" class="form-accordion" multi>

      <app-panel-wrapper panelTitle="Notebook">
        <app-notebook [formGroup]="notebookFormGroup"></app-notebook>
      </app-panel-wrapper>

      <app-panel-wrapper panelTitle="Event Details">
        <div class="container-fluid">
          <app-event [formGroup]="eventFormGroup"></app-event>
          <app-detail [formGroup]="detailFormGroup"></app-detail>
        </div>
      </app-panel-wrapper>

      <app-panel-wrapper panelTitle="Location">
        <app-location [formGroup]="locationFormGroup"></app-location>
      </app-panel-wrapper>

      <app-panel-wrapper panelTitle="Performers">
        <div class="button-row d-flex justify-content-end align-items-center gap-2 mt-3">
          <button mat-button
                  matTooltip="Remove last performer"
                  *ngIf="performerFormGroups.length > 1"
                  (click)="removePerformer(performerFormGroups.length - 1)">
            <mat-icon>remove</mat-icon><mat-icon>person</mat-icon>
          </button>
          <button mat-raised-button color="primary" (click)="addPerformer()">
            Add Performer
          </button>
        </div>
        <div formArrayName="performers">
          <ng-container *ngFor="let performerGroup of performerFormGroups; let i = index; trackBy: trackByIndex">
            <div [formGroupName]="i" class="performer-entry-container" @slideInOut>
              <div class="x-btn">
                <button mat-icon-button
                        *ngIf="i > 0"
                        class="close-button"
                        (click)="removePerformer(i)"
                        aria-label="Remove performer">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
              <app-performer [formGroup]="performerGroup"></app-performer>
            </div>
          </ng-container>
        </div>
      </app-panel-wrapper>

      <app-panel-wrapper panelTitle="Goals">
        <app-goal [formGroup]="goalFormGroup"></app-goal>
      </app-panel-wrapper>

      <app-panel-wrapper panelTitle="Notes">
        <app-note [formGroup]="noteFormGroup"></app-note>
      </app-panel-wrapper>

      <app-panel-wrapper panelTitle="Reflection">
        <app-reflection [formGroup]="reflectionFormGroup"></app-reflection>
      </app-panel-wrapper>

    </mat-accordion>

    <div class="row mt-4">
      <button mat-flat-button color="tertiary" type="submit" style="width: 100%;">
        Submit
      </button>
    </div>
  </form>
</div>
