<ng-container *ngIf="data.addNotebook; else updateEvent">
<div class="dialog-container">
  <div class="close-btn">
    <button mat-icon-button [mat-dialog-close]="true"><mat-icon>close</mat-icon></button>
  </div>
<h3 class="display-small" mat-dialog-title>New Notebook</h3>
  <form [formGroup]="formGroup" (ngSubmit)="submitNotebook()">
<mat-dialog-content color="white">
      <mat-form-field class="full-width">
        <input matInput type="text" placeholder="enter a name for your notebook." formControlName="title">
      </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button type="button" class="cancel-btn" mat-button [mat-dialog-close]="false">Cancel</button>
  <button type="submit" [mat-dialog-close]="true" mat-button>Submit</button>
</mat-dialog-actions>
  </form>
</div>
</ng-container>

<ng-template #updateEvent>
  <ng-container [formGroup]="formGroup">
    <div class="dialog-container">
      <div class="close-btn">
        <button mat-icon-button [mat-dialog-close]="true"><mat-icon>close</mat-icon></button>
      </div>
  <h3 class="display-small" mat-dialog-title>Save changes?</h3>
  <mat-dialog-content class="save-content">This action cannot be undone after saving.</mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button class="cancel-btn" [mat-dialog-close]="false">Cancel</button>
    <button type="submit" mat-button color="primary" [mat-dialog-close]="true">Save changes</button>
  </mat-dialog-actions>
    </div>
  </ng-container>
</ng-template>

