mat-dialog-content {
  margin-top: 8px;
  width: 500px;

}
.save-content {
  margin-top: 1rem;
  margin-bottom: .5rem;
}

mat-form-field{
  margin: 0 auto;
}

.display-small {
  padding: 0 0 0 8px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  letter-spacing: -1px;
  font-weight: bold;
}

.dialog-container {
  justify-content: space-evenly;
  margin: 0 auto;
}

mat-dialog-actions {
  align-items: center;
  width: 100%;
}

button, button text {
  background-color: var(--md-sys-color-on-surface) !important;
  font-family: "Roboto", sans-serif !important;
}

.cancel-btn {
  color: rgba(168, 25, 152, 90%);
}

.close-btn {
  display: flex;
  justify-content: flex-end;
  padding-right: .5rem;
  padding-top: .5rem;
  margin-bottom: 0;
}

.mat-icon {
  font-size: 18px;
  font-weight: bold;
}
