
<!-- EVENT NAME HEADER -->
<div *ngIf="eventSelected" class="event-header" [formGroup]="eventFormGroup">
  <div class="icon-container">
    <mat-icon>local_activity</mat-icon>
    <div class="event-field">
      <span>Event name:</span>
      <mat-form-field>
        <input matInput formControlName="eventName">
      </mat-form-field>
    </div>
  </div>
</div>

<!-- DETAILS -->
<ng-container *ngIf="eventSelected && eventSelected.details?.length">
  <ng-container *ngFor="let detail of eventSelected.details">
    <app-detail-card [formGroup]="detailFormGroup" [displayMode]="displayMode" [detailData]="eventSelected.details"/>
  </ng-container>

  <!-- LOCATION -->
  <app-location-card [eventSelected]="eventSelected" [formGroup]="locationFormGroup" [displayMode]="displayMode"/>

  <mat-divider></mat-divider>

  <div class="add-performer-box">
    <button mat-stroked-button (click)="onAddPerformer()">
    <mat-icon>person_add</mat-icon>
      Add Performer
  </button>
  </div>
  <ng-container *ngIf="formGroup.get('performers') as performersArray" [formGroup]="formGroup">
    <div formArrayName="performers">
      <ng-container *ngFor="let performerGroup of performerFormGroups; let i = index">
        <div [formGroupName]="i">
          <app-performer-card
            [performerData]="eventSelected.details?.[0]?.performers?.length"
            [formGroup]="performerGroup"
            [displayMode]="displayMode">
          </app-performer-card>

          <!-- Remove button now INSIDE the loop -->
          <button
            *ngIf="performerFormGroups.length > 1"
            mat-icon-button
            color="warn"
            type="button"
            (click)="removePerformer(i)"
            aria-label="Remove performer">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </ng-container>
    </div>
  </ng-container>



</ng-container>
<ng-container *ngIf="eventSelected">
  <app-goal-card [formGroup]="goalFormGroup" [eventSelected]="eventSelected" [displayMode]="displayMode"/>
  <app-note-card [formGroup]="noteFormGroup" [eventSelected]="eventSelected" [displayMode]="displayMode"/>
  <app-reflection-card [formGroup]="reflectionFormGroup" [eventSelected]="eventSelected" [displayMode]="displayMode"/>
</ng-container>


