@use '../styles';
@use '@angular/material' as mat;
@include mat.core();

div.event-card, mat-card.address-card, mat-card.goal-card, mat-card.expansion-card, mat-card.note-form, mat-accordion {
  max-width: 800px;
  margin: 0 auto;
  padding: .5rem;
  background-color: var(--mat-sys-surface-light) !important;
}

.full-width {
  width: 100%;
}

.event-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

mat-panel-title {
  font:var(--mat-sys-title-large) !important;
  margin-top: .5rem;
  margin-bottom: .25rem;
}

/**.mat-expansion-panel-header.mat-expanded:focus{
  background-color: #121212 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  height: 48px;
}**/


mat-expansion-panel {
  max-width: 800px;
  margin: 0 auto;
  justify-content: space-around;
}

/* When expanded, remove the border to blend with content */
mat-expansion-panel.expanded {
  border: none;
}

.mdc-text-field--outlined .mdc-text-field__input  {
  background-color: var(--mat-sys-surface-container) !important;
}
