<div class="location-form" [formGroup]="formGroup">
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput #locationInput placeholder="Enter a place" formControlName="locationName">
        </mat-form-field>
        <mat-list *ngIf="suggestions.length" class="autocomplete-list">
          <mat-list-item
            *ngFor="let suggestion of suggestions"
            (click)="selectSuggestion(suggestion)">
            {{ suggestion.description }}
          </mat-list-item>
        </mat-list>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput placeholder="Address" formControlName="address">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        @if (hasUnitNumber) {
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Apt.#,unit #,suite,bldg." formControlName="address2"></textarea>
          </mat-form-field>
        } @else {
          <button mat-button type="button" (click)="hasUnitNumber = !hasUnitNumber">
            + Add C/O Apt Unit
          </button>
        }
      </div>
    </div>
    <div class="row city-state-zip">
      <div class="city">
        <mat-form-field class="full-width">
          <input matInput placeholder="City" formControlName="city">
        </mat-form-field>
      </div>
      <div class="state">
        <mat-form-field class="full-width">
          <mat-select placeholder="State" formControlName="state">
            @for (state of states; track state) {
              <mat-option [value]="state.abbreviation">{{ state.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="zip">
        <mat-form-field class="full-width">
          <input matInput #zip maxlength="5" placeholder="Postal Code" type="number" formControlName="zip">
          <mat-hint align="end">{{zip.value.length}} / 5</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="row phone-website-accessible">
      <div class="phone">
        <mat-form-field class="full-width">
          <input type="tel" matInput placeholder="Phone #" formControlName="phoneNumber">
        </mat-form-field>
      </div>
      <div class="website">
        <mat-form-field class="full-width">
          <input type="text" matInput placeholder="Website" formControlName="website">
        </mat-form-field>
      </div>
    </div>
        <div class="accessible">
        <mat-slide-toggle formControlName="accessible"><mat-icon aria-hidden="true">accessible</mat-icon></mat-slide-toggle>
    </div>
    <div class="row location-reset">
        <button mat-stroked-button
                color="tertiary"
                type="button"
                (click)="clearLocationForm()">
          Clear
        </button>
    </div>
</div>
