<ng-container *ngIf="displayMode === 'display'">
<ng-container *ngFor="let location of locationList; trackBy: trackById">
<div class="location-container">
  <div class="icon-container"><span class="label-text">Where:</span> {{ location.locationName }}</div>
  <div class="icon-container"><span class="label-text">Address:</span> {{ location.address }}, {{ location.city }}, {{ location.state }}</div>
  <div class="icon-container"><span class="label-text">Phone #:</span> {{location.phoneNumber}} </div>
  <div class="icon-container" *ngIf="location.website != null; else noWebsite"><span class="label-text">Website:</span> {{location.website}}</div>
  <ng-template #noWebsite><div class="icon-container"><span class="label-text">Website:</span> <span class="website-field"> No site added</span></div></ng-template>
  <mat-slide-toggle [checked]="location.accessible" disabled>Accessible</mat-slide-toggle>
</div>
</ng-container>
</ng-container>


<ng-container *ngIf="displayMode === 'edit'">

  <div [formGroup]="formGroup" class="location-container">
    <div class="location-name-box">
    <mat-form-field>
      <mat-label>Where</mat-label>
      <input matInput (input)="fetchAutocompleteSuggestions($event)" formControlName="locationName">
    </mat-form-field>
  <mat-list *ngIf="suggestions.length" class="autocomplete-list" id="autocomplete-list">
        <mat-list-item
          *ngFor="let suggestion of suggestions"
          (click)="selectSuggestion(suggestion)">
          {{ suggestion.description }}
        </mat-list-item>
      </mat-list>
    </div>
    <div class="address-box" *ngFor="let location of locationList">
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input
          matInput
        type="text"
        [value]="formGroup.get('address')?.value || ''"
        (input)="onAddressInput($event)">

      </mat-form-field>
    </div>
    <div class="row">
    <div class="phone-box">
    <mat-form-field>
      <mat-label>Phone #</mat-label>
      <input matInput formControlName="phoneNumber" type="tel">
    </mat-form-field>
    </div>
    <div class="website-box">
      <mat-form-field>
        <mat-label>Website</mat-label>
        <input matInput formControlName="website">
      </mat-form-field>
    </div>
    <div class="accessible-box">
      <mat-slide-toggle formControlName="accessible"><mat-icon aria-hidden="true">accessible</mat-icon></mat-slide-toggle>
    </div>
  </div>
  </div>
</ng-container>
