 <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="title">Performer Info</span>
          <span>
            <mat-icon>artist</mat-icon>
          </span>
        </mat-panel-title>
      </mat-expansion-panel-header>
        <form id="performer-form" [formGroup]="performerGroup" action="#">
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <mat-label>Artist's name</mat-label>
                <input matInput [formControl]="fullName" type="text">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
              <div class="col">
                <mat-form-field class="full-width">
                  <mat-label>Moniker</mat-label>
                  <input matInput [formControl]="moniker" type="text">
                </mat-form-field>
              </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <mat-label>Email</mat-label>
                <input matInput [formControl]="email" type="email">
              </mat-form-field>
              </div>
              <div class="col fee-container">
                <mat-form-field class="full-width">
                  <mat-label>Performance fee</mat-label>
                  <input matInput  [formControl]="performanceFee" type="number" class="fee" placeholder="0" />
                  <span matTextPrefix>$&nbsp;</span>
                  <span matTextSuffix>.00</span>
                </mat-form-field>
              </div>
            </div>
          <div class="row">
          <div class="col">
            <button type="submit" (click)="onSubmit()">submit</button>
          </div>
          </div>
        </form>
    </mat-expansion-panel>
