@use '../../../styles';

.full-width {
  max-width: 100%;
}

form {
  display: grid;
  justify-content: stretch;

}

.fee {
  text-align: right;
}
div.col fee-container {
  max-width: 50%;
}

form div.row {
  display: flex;
  flex-direction: row;
}

form div.col {
  flex: 1;
  margin-right: 20px;
}

/* For Chrome, Safari, Edge, and Opera */
input.fee::-webkit-outer-spin-button,
input.fee::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input.fee {
  -moz-appearance: textfield;
}
