files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDMzCCAhsCFEgqeQbAufW4kZW4fyWZDubYWkxgMA0GCSqGSIb3DQEBCwUAMFYx
      CzAJBgNVBAYTAlVTMRIwEAYDVQQIDAlXaXNjb25zaW4xEDAOBgNVBAcMB01hZGlz
      b24xITAfBgNVBAoMGEludGVybmV0IFdpZGdpdHMgUHR5IEx0ZDAeFw0yNTAyMjMy
      MzMzNTJaFw0zMDAyMjIyMzMzNTJaMFYxCzAJBgNVBAYTAlVTMRIwEAYDVQQIDAlX
      aXNjb25zaW4xEDAOBgNVBAcMB01hZGlzb24xITAfBgNVBAoMGEludGVybmV0IFdp
      ZGdpdHMgUHR5IEx0ZDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAOuE
      AzAoldUE7dwNqWDMSr4BAzqEbuFhlI8zQJqP3pbTBxhvt85dPvIIQiStyxD49UTq
      mxCHjSr4pLABDQjMG9xXdlIoTE1HKlT+2ybFZ+T1OnPvOGhdaKR/tN8/DqSuXl3P
      sb9JAyS53czC3ZcrY4QFfXK/EfkYpVbTj+nEu1/m93hMnk1szEKQtfem5PlOB2RH
      cZdXiEiuuDcgsRUOHfjbU5wutguY8yguiyEclszz/cqINtNfrBpd5E4BQT8Izyvk
      MpSdKnmSt/5Nctyg2fRtBZ632n28GI7Yhd9MiTrQWdUSyZ+IepYkd4xIpFcRiOsj
      LJGez09htVRd7DTntesCAwEAATANBgkqhkiG9w0BAQsFAAOCAQEA4PyszfIzfn+o
      yfdzmYiXV6tuyD93JhgsttijfEqsDcPYtkiKkjR3oRR/GBdlXM7fZBp/9i9TYyJ9
      L9HQ6qHrdei6k2DWPKu93ZNKeAzni9Jo+Xz1aLtUu6QWoBUoipUpmg7PxLC7l1x0
      GiZhjt/L4u5lyYw4uP2GVXwH7DM2XI/38BIwbRLHhfb4HJAWdFw9Fmb+nlDfQeCk
      oADLVQkpcjoN7tHr2OK0kKLwLEbpfspwivZDCzpjAvNm+uTJtTgbpzIbkqiqbPKx
      MCo2uiU39XsZRig86UyjW8+MO2BYJEJC2eCSOtMimBTjO9t/XJxWG+dStCpCVx3G
      ZGh21zqzXQ==
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEogIBAAKCAQEA64QDMCiV1QTt3A2pYMxKvgEDOoRu4WGUjzNAmo/eltMHGG+3
      zl0+8ghCJK3LEPj1ROqbEIeNKviksAENCMwb3Fd2UihMTUcqVP7bJsVn5PU6c+84
      aF1opH+03z8OpK5eXc+xv0kDJLndzMLdlytjhAV9cr8R+RilVtOP6cS7X+b3eEye
      TWzMQpC196bk+U4HZEdxl1eISK64NyCxFQ4d+NtTnC62C5jzKC6LIRyWzPP9yog2
      01+sGl3kTgFBPwjPK+QylJ0qeZK3/k1y3KDZ9G0FnrfafbwYjtiF30yJOtBZ1RLJ
      n4h6liR3jEikVxGI6yMskZ7PT2G1VF3sNOe16wIDAQABAoH/MExiWv33vDfGj9o9
      YhyDN3P9tYJzOsVIMhXQqeHXRBcC3YALscZtojUPW3ZIrrJfmkKCimFCEg3ruCx+
      /87b59QH79FT1IVDqSqaxti09b9UvXHRn5WIYDPQY/gKiLs5nwN48EGI4386fUN5
      Lgc34Vs+3slQZkUnoya/3LD7vC682Rm7N7BOuCnYXSDGH+1G7Scjm51PJVY7my28
      K/7BwcA09Hj9GfQVnrzk6b1YIgk0cxGoaVWTB7jzx1sEwcOuD0Ybi3zk1UD5XWIy
      Zn7whFPW+AnAhIg92F9jDj7C/RBbyOX+T6c+CJYaqRE9btHZgnbYypegiNVUx+ZD
      dwO1AoGBAPjB8KYOxo7rY9JkvZh58k0umoz1IsTDzQfUuafDd6KOHakUrUWhXzIR
      Js2Tz5uBR9k51EwVSeLcCfkpQexrtSDbTY8XlXEM1MHAh768Cc7zSpUWi1EGzHy0
      XMRnxOfE1TdVY+btSQyURSBrEKUprrgr43OY/tKgN1XPJe8BE7CdAoGBAPJfYHV5
      jbyR1M1/iYqn06xL9bd59ccgNS0BT24CckIcrzbvd/YmPblqyrfwnC8d7sMcxuX2
      MxzMumd7BJYbFwlh4Wdrf31YhGNgmYRrOy0TVla0p811jNIW4QYVXKLCaZhD6ntG
      QZtri8YUMSsP1ndeofI9MDt02CIC4ABNSqYnAoGBAJLGdAS3ISdA8pQ4hroJ8hLi
      VaSoG0y4LyjYtnarWdKbQhr6rUYxcibrgda4yT166XbdrUr7IK5voJ7YXiJuZuAt
      JbUxeCbNKFfuDupWrv7iBHa1Z5x2g39tOHNWuxL5y8irZJfkGD8I2UTIh3i8gHAA
      zWLuuiRzDlNeN4avPvvtAoGAD4wmt+JwQSRprjT8MbTKU0ccIATmyzs5rgVjfv8R
      LUSByNhbraKOWxKKpnn8ytj0s/domt/ML5DCdFjj1m0ucR+iQewXZYcEFwvfTStD
      xIR1CWLVUMy1l9R34tgD9TzbYTUaGYZMNxgTA0XQUZ7WdxnO8acTLP010Bi3Hc3X
      eAkCgYEAufF5+zmwz5l6pE36+MM2g41AAt89bYBhdcnwqdkxEMi339b+nOUZxpkz
      8HtFe7R+1xHC1HlwjHJJTOEejJw16yTsancJvAHizoLKHw4WD4Qc3uTg1poWyw+o
      nCd5HfpVWLTy4xQWsOcKtl2iZcSNgAjr6xfSSbNJ7sZRuZOR7JI=
      -----END RSA PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart