.sidenav-tile {
  background-color: lightpink;
  min-width: 250px;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

mat-grid-tile {

  background-color: lightblue;
}
