<ng-container *ngIf="displayMode === 'display'">
  <ng-container *ngIf="eventSelected">
<mat-card appearance="outlined" class="reflection-container" style="width: 50%;">
  <mat-card-header>
    <mat-card-title>
      <div class="svg-wrapper">
        <mat-icon class="svg" svgIcon="atomic"></mat-icon>
        <span class="label-text">Reflection</span>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="reflection-text">{{eventSelected.reflection?.reflectionDescription || 'no reflection added.'}}</div>
  </mat-card-content>
</mat-card>
  </ng-container>
</ng-container>

<ng-container *ngIf="displayMode === 'edit'">
  <div>
  <div [formGroup]="formGroup" class="reflection-field">
    <mat-form-field>
      <textarea matInput formControlName="reflectionDescription" rows="25" cols="75" placeholder={{placeholder}}></textarea>
    </mat-form-field>
  </div>
  </div>
</ng-container>
