.goal-container {
  display: flex;
  height: 600px;
  width: 100%;
}

.goal-field {
  width: 100%;
}

.icon-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.svg {
  width: 100px;
  height: 100px;
}

.label-text {
  font-family: Roboto, sans-serif;
  font-weight: 900;
  display: inline-block;
  letter-spacing: -0.1rem;
  line-height: 1rem;
  font-size: 48px;
  margin-bottom: 1.5rem;
}

mat-card-header {
  border-bottom: 1px solid black;
}

mat-card {
  width: 100%;
}

