.full-width {
  max-width: 100%;
}

div.row {
  display: flex;
  flex-direction: row;
}

.fee-input {
  text-align: right;
}


div.col {
  flex: 1;
}

.email-fee {
  display: flex;
  justify-content: space-around;

}

.email {
  flex: 2;
  padding-right: 16px;
}

.fee {
  flex: 1;
}

.fee-input {
  text-align: start;
  align-content: start;
}

.prefix {
  padding-right: 4px;
}


/* Chrome, Safari, Edge, & Opera */
input.fee-input::-webkit-outer-spin-button,
input.fee-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* Firefox */
input.fee-input {
  -moz-appearance: textfield;
}
