<!-- DISPLAY MODE -->
<div class="performer-box">
  <ng-container *ngIf="displayMode === 'display' && performerData">
    <div class="performer-display">
      <h3 class="performer-moniker">
        <mat-icon>music_note</mat-icon>
        {{ performerData.moniker }}
      </h3>
      <p><strong>Name:</strong> {{ performerData.fullName }}</p>
      <p><strong>Email:</strong> {{ performerData.email }}</p>
      <p><strong>Fee:</strong> ${{ performerData.performanceFee }}</p>
    </div>
  </ng-container>
</div>

<!-- EDIT MODE -->
<div class="performer-box">
  <ng-container *ngIf="displayMode === 'edit' && formGroup">
    <div class="performer-wrapper">
      <div class="btns-group">
        <button
          class="delete-fab"
          *ngIf="performerFormGroups.length > 1"
          mat-icon-button
          type="button"
          (click)="removePerformer(i)"
          aria-label="Remove performer"
          matTooltip="Delete performer">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    <div [formGroup]="formGroup" class="performer-edit-form">
      <div class="form-field">
        <mat-form-field>
        <mat-label>Moniker</mat-label>
        <input matInput formControlName="moniker">
        </mat-form-field>
      </div>

      <div class="form-field">
        <mat-form-field>
          <mat-label>Name (first & last)</mat-label>
          <input matInput formControlName="fullName">
        </mat-form-field>
      </div>

      <div class="form-field">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
        </mat-form-field>
      </div>

      <div class="form-field">
        <mat-form-field>
          <mat-label>Fee</mat-label>
          <span matPrefix>$&nbsp;</span>
          <input matInput type="number" step="0.01" min="0" formControlName="performanceFee" class="fee">
        </mat-form-field>
      </div>
    </div>
    </div>

  </ng-container>
</div>
