@use '@angular/material' as mat;

.performer-box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

}

.performer-form {
  display: grid;
  gap: 1rem;
  padding: 0 2rem;
  width: 100%;
}

.performer-card {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 100%;
  font-family: Roboto Mono, monospace;
  border: 2px solid var(--mat-sys-primary-color);
  border-radius: 12px;
  margin-bottom: 2rem;
  margin-top: 1rem;
  word-wrap: break-word;

  @include mat.card-overrides((
    title-text-font: Roboto,
    title-text-weight: 500,
    title-text-size: 2rem
  ));
}

mat-card-header.performer-header {
  background-color: #0c0f0f;
  color: var(--mat-sys-primary);
  margin-bottom: 0.5rem;
  border-top-left-radius: var(--mat-sys-corner-medium);
  border-top-right-radius: var(--mat-sys-corner-medium);
}

.card-content {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.performer-details {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.icon-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;

  span {
    display: inline-block;
  }
}

.performer-title {
  font-weight: 900;
  display: inline-block;
  letter-spacing: -0.1rem;
  line-height: 1rem;
}

.svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 120px;
  max-width: 150px;
}

.svg {
  width: 100%;
  height: auto;
  opacity: .5;
}


.divider {
  border: 2px solid var(--mat-sys-primary);
  width: 50vw;
}

.performer-wrapper {
  border: 1px solid var(--mat-sys-primary);
  border-radius: 10px;
  width: 50%;
  padding: .5rem;
  margin-bottom: 1rem;
}

.btns-group {
  display: flex;
  justify-content: flex-end;
  margin-bottom: .25rem;
  margin-top: 0;
}

.delete-fab {
  display: flex;
  color: var(--mat-sys-surface-tint);
  justify-content: center;
  align-items: center;
}

.delete-fab:hover {
  background-color: var(--mat-sys-error-container);
  color: var(--mat-sys-scrim);
  border: 1px solid transparent;
  border-radius: 10px;
}

.mat-mdc-form-field {
  width: 100%;
}

.label-text {
  font-family: Roboto, sans-serif;
  font-weight: 900;
  display: inline-block;
  letter-spacing: -0.1rem;
  line-height: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
  font-size: 48px;
}

.fee::-webkit-inner-spin-button,
.fee::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.fee {
  -moz-appearance: textfield;
}

