.performer-card {
  justify-content: space-evenly;
  margin-bottom: 3rem;
  width: 250px;
}

.performer-card mat-card-content {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  margin-right: auto;
}


.performer-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding-bottom: 1rem;
  padding-top: 10px;

}

.performer-svg-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding-top: 8px;
  margin-right: 0.5rem;
}

.performer-svg-container svg {
  max-width: 120px;
  height: auto;
  margin-left: auto;
}
