<!-- DISPLAY MODE -->
<ng-container *ngIf="displayMode === 'display' && performerData">
  <mat-card appearance="outlined" class="performer-card" style="width: 500px; height: 200px;">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>
          <div class="icon-container">
            <mat-icon>music_note</mat-icon>
            {{ performerData.moniker }}
          </div>
        </mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <div class="performer-box">
        <div class="icon-container"><mat-icon>person</mat-icon> {{ performerData.fullName }}</div>
        <div class="icon-container"><mat-icon>email</mat-icon> {{ performerData.email }}</div>
        <div class="icon-container"><mat-icon>attach_money</mat-icon> {{ performerData.performanceFee }}</div>
      </div>
    </mat-card-content>
  </mat-card>
</ng-container>

<!-- EDIT MODE -->
<ng-container *ngIf="displayMode === 'edit' && formGroup">
  <mat-card appearance="outlined" class="performer-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>
          <div class="icon-container">
            <mat-icon>music_note</mat-icon>
            {{ formGroup.get('moniker')?.value }}
          </div>
        </mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <div [formGroup]="formGroup" class="performer-box" style="display: grid;">
        <!-- form fields (same as before) -->
        <div class="icon-container">
          <mat-icon>person</mat-icon>
          <mat-form-field>
            <mat-label>Full Name</mat-label>
            <input matInput formControlName="fullName">
          </mat-form-field>
        </div>

        <div class="icon-container">
          <mat-icon>music_note</mat-icon>
          <mat-form-field>
            <mat-label>Moniker</mat-label>
            <input matInput formControlName="moniker">
          </mat-form-field>
        </div>

        <div class="icon-container">
          <mat-icon>email</mat-icon>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
          </mat-form-field>
        </div>

        <div class="icon-container">
          <mat-icon>attach_money</mat-icon>
          <mat-form-field>
            <mat-label>Performance Fee</mat-label>
            <input matInput type="number" formControlName="performanceFee">
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</ng-container>
