<ng-container *ngIf="displayMode === 'display'">
  <ng-container *ngIf="eventSelected">
<mat-card appearance="outlined" class="note-container" style="width: 50%;">
  <mat-card-header>
    <mat-card-title>
      <div class="svg-wrapper">
        <mat-icon class="svg" svgIcon="note"></mat-icon>
        <span class="label-text">Notes</span>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="note-text">{{eventSelected.note?.noteDescription || 'no notes added.'}}</div>
  </mat-card-content>
</mat-card>
</ng-container>
</ng-container>


<ng-container *ngIf="displayMode === 'edit'">
  <div>
  <div [formGroup]="formGroup" class="note-field">
    <mat-form-field>
      <textarea matInput id="noteDescription" formControlName="noteDescription" rows="25" cols="75" placeholder={{placeholder}}></textarea>
    </mat-form-field>
  </div>
  </div>
</ng-container>
