<ng-container *ngIf="displayMode === 'display' && detailData as detail">
  <div class="details-container">
    <div class="icon-container">
      <div class="description-container">
      <mat-icon>star</mat-icon>
      <span class="event-description">{{detail.description}}</span>
      </div>
    </div>
    <div class="date-time-container">
    <div class="icon-container"><mat-icon>calendar_today</mat-icon> {{ detail.dateOfEvent | date: 'EEE MMM d, y' }}</div>
    <div class="icon-container"><mat-icon>schedule</mat-icon>
      {{ formatTimeDisplay(detail.startTime) || detail.startTime }} to {{ formatTimeDisplay(detail.endTime)}}
    </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="displayMode === 'edit'">
  <div class="detail-box" [formGroup]="formGroup">
    <div class="description-box">
      <mat-form-field class="full-width">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" rows="4"></textarea>
      </mat-form-field>
    </div>
    <div><span class=label-text>Date & Time</span></div>
    <div class="date-time-container-edit">
    <div class="date-box">
      <mat-form-field class="form-field">
        <mat-label>Date of event</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dateOfEvent">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  <div>
    <div class="time-box">
      <mat-form-field class="form-field">
        <mat-label>Start Time</mat-label>
        <input matInput formControlName="startTime" [matTimepicker]="startPicker">
        <mat-timepicker-toggle matIconSuffix [for]="startPicker"></mat-timepicker-toggle>
        <mat-timepicker #startPicker></mat-timepicker>
      </mat-form-field>
  <div>to</div>
      <mat-form-field class="form-field">
        <mat-label>End Time</mat-label>
        <input matInput formControlName="endTime" [matTimepicker]="endPicker">
        <mat-timepicker-toggle matIconSuffix [for]="endPicker"></mat-timepicker-toggle>
        <mat-timepicker #endPicker></mat-timepicker>
      </mat-form-field>
    </div>
  </div>
  </div>
  </div>
</ng-container>
