<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span class="title">Notes</span>
      <span><mat-icon>notes</mat-icon></span>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <form id="note-form" [formGroup]="noteGroup" action="#">
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>Notes</mat-label>
          <textarea matInput
                    id="note"
                    [formControl]="reflection"
                    rows="15">
              </textarea>
        </mat-form-field>
      </div>
    </div>
    <button type="submit" (click)="onSubmit()">submit</button>
  </form>
</mat-expansion-panel>
