// src/styles.scss
@use 'sass:map';
@use '@angular/material' as mat;
@use './app/themes/theme-colors' as theme;
@use './app/themes/theme-tokens';
@include mat.core();
@import "mdb-angular-ui-kit/assets/scss/mdb.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto Mono&family=Anton+SC&family=Archivo+Black&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Barcode+39+Extended+Text&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Mono:wght@100..900&family=Noto+Sans+Symbols:wght@100..900&family=Press+Start+2P&family=Righteous&family=Roboto:ital,wght@0,100..900;1,100..900&family=Silkscreen:wght@400;700&family=Sixtyfour&family=Sora:wght@100..800&family=Space+Grotesk:wght@300..700&family=Staatliches&display=swap");
//import 'bootstrap/dist/css/bootstrap.css';
//import 'bootstrap-icons/font/bootstrap-icons.css';





:root, :host {
  @include mat.theme-overrides((
    primary: #d3d93b,
    on-primary: #ffffff,
    primary-container: #e4eb4c,
    on-primary-container: #1c1d00,
    inverse-primary: #c7ce30,
    primary-fixed: #e4eb4c,
    primary-fixed-dim: #c7ce30,
    on-primary-fixed: #1c1d00,
    on-primary-fixed-variant: #474a00,
    secondary: #d73ee6,
    on-secondary: #ffffff,
    secondary-container: #d73ee6,
    on-secondary-container: #36003d,
    secondary-fixed: #ffd6fa,
    secondary-fixed-dim: #ffa9ff,
    on-secondary-fixed: #36003d,
    on-secondary-fixed-variant: #7d008a,
    tertiary: #675a6e,
    on-tertiary: #ffffff,
    tertiary-container: #eeddf5,
    on-tertiary-container: #221829,
    tertiary-fixed: #eeddf5,
    tertiary-fixed-dim: #d2c1d9,
    on-tertiary-fixed: #221829,
    on-tertiary-fixed-variant: #4e4256,
    background: #fcf8f8,
    on-background: #1c1b1b,
    surface: #fcf8f8,
    surface-dim: #ddd9d9,
    surface-bright: #fcf8f8,
    surface-container-lowest: #ffffff,
    surface-container-low: #f6f3f2,
    surface-container: #f1edec,
    surface-container-high: #ebe7e7,
    surface-container-highest: #e5e2e1,
    on-surface: #1c1b1b,
    shadow: #000000,
    scrim: #000000,
    surface-tint: #5d5f5f,
    inverse-surface: #313030,
    inverse-on-surface: #f4f0ef,
    outline: #747878,
    outline-variant: #c5c6ca,
    neutral: #797776,
    neutral10: #1c1b1b,
    error: #ba1a1a,
    error-container: #e93e36,
    on-error: #ffffff,
    on-error-container: #410002,
    surface-variant: #e1e2e6,
    on-surface-variant: #44474a,
    neutral-variant: #75777a,
    neutral-variant20: #2e3133,
    inverse-secondary: #ffa9ff,
    inverse-tertiary: #d2c1d9,
  ));
}

/* Dark Theme */
.dark {
  @include mat.theme-overrides((
    primary: #c7ce30,
    on-primary: #313300,
    primary-container: #474a00,
    on-primary-container: #e4eb4c,
    inverse-primary: #5f6300,
    primary-fixed: #e4eb4c,
    primary-fixed-dim: #c7ce30,
    on-primary-fixed: #1c1d00,
    on-primary-fixed-variant: #474a00,
    secondary: #ffa9ff,
    on-secondary: #590062,
    secondary-container: #7d008a,
    on-secondary-container: #ffd6fa,
    secondary-fixed: #ffd6fa,
    secondary-fixed-dim: #ffa9ff,
    on-secondary-fixed: #36003d,
    on-secondary-fixed-variant: #7d008a,
    tertiary: #d2c1d9,
    on-tertiary: #372c3e,
    tertiary-container: #4e4256,
    on-tertiary-container: #eeddf5,
    tertiary-fixed: #eeddf5,
    tertiary-fixed-dim: #d2c1d9,
    on-tertiary-fixed: #221829,
    on-tertiary-fixed-variant: #4e4256,
    background: #141313,
    on-background: #e5e2e1,
    surface: #141313,
    surface-dim: #141313,
    surface-bright: #3a3939,
    surface-container-lowest: #0e0e0e,
    surface-container-low: #1c1b1b,
    surface-container: #201f1f,
    surface-container-high: #2a2a2a,
    surface-container-highest: #353434,
    on-surface: #e5e2e1,
    shadow: #000000,
    scrim: #000000,
    surface-tint: #c6c6c7,
    inverse-surface: #e5e2e1,
    inverse-on-surface: #313030,
    outline: #8e9192,
    outline-variant: #44474a,
    neutral: #797776,
    neutral10: #1c1b1b,
    error: #ffb4ab,
    error-container: #93000a,
    on-error: #690005,
    on-error-container: #ffdad6,
    surface-variant: #44474a,
    on-surface-variant: #c5c6ca,
    neutral-variant: #75777a,
    neutral-variant20: #2e3133,
    inverse-secondary: #a400b5,
    inverse-tertiary: #675a6e,
  ));
}

/* Typography */
:root, :host {
  /* core typography tokens are not generating css variables, hence below */
  --mat-sys-brand-font-family: Roboto;
  --mat-sys-plain-font-family: Roboto Mono;
  --mat-sys-bold-font-weight: 700;
  --mat-sys-medium-font-weight: 500;
  --mat-sys-regular-font-weight: 400;


  @include mat.theme-overrides((
    brand-family: Roboto,
    plain-family: Roboto Mono,
    bold-weight: 700,
    medium-weight: 500,
    regular-weight: 400,
    body-large-font: var(--mat-sys-plain-font-family),
    body-medium-font: var(--mat-sys-plain-font-family),
    body-small-font: var(--mat-sys-plain-font-family),
    label-large-font: var(--mat-sys-plain-font-family),
    label-medium-font: var(--mat-sys-plain-font-family),
    label-small-font: var(--mat-sys-plain-font-family),
    title-medium-font: var(--mat-sys-plain-font-family),
    title-small-font: var(--mat-sys-plain-font-family),
    body-large: var(--mat-sys-body-large-weight) var(--mat-sys-body-large-size) / var(--mat-sys-body-large-line-height) var(--mat-sys-body-large-font),
    body-medium: var(--mat-sys-body-medium-weight) var(--mat-sys-body-medium-size) / var(--mat-sys-body-medium-line-height) var(--mat-sys-body-medium-font),
    body-small: var(--mat-sys-body-small-weight) var(--mat-sys-body-small-size) / var(--mat-sys-body-small-line-height) var(--mat-sys-body-small-font),
    label-large: var(--mat-sys-label-large-weight) var(--mat-sys-label-large-size) / var(--mat-sys-label-large-line-height) var(--mat-sys-label-large-font),
    label-medium: var(--mat-sys-label-medium-weight) var(--mat-sys-label-medium-size) / var(--mat-sys-label-medium-line-height) var(--mat-sys-label-medium-font),
    label-small: var(--mat-sys-label-small-weight) var(--mat-sys-label-small-size) / var(--mat-sys-label-small-line-height) var(--mat-sys-label-small-font),
    title-large: var(--mat-sys-title-large-weight) var(--mat-sys-title-large-size) / var(--mat-sys-title-large-line-height) var(--mat-sys-title-large-font),
    title-medium: var(--mat-sys-title-medium-weight) var(--mat-sys-title-medium-size) / var(--mat-sys-title-medium-line-height) var(--mat-sys-title-medium-font),
    title-small: var(--mat-sys-title-small-weight) var(--mat-sys-title-small-size) / var(--mat-sys-title-small-line-height) var(--mat-sys-title-small-font),
    headline-large: var(--mat-sys-headline-large-weight) var(--mat-sys-headline-large-size) / var(--mat-sys-headline-large-line-height) var(--mat-sys-headline-large-font),
    headline-medium: var(--mat-sys-headline-medium-weight) var(--mat-sys-headline-medium-size) / var(--mat-sys-headline-medium-line-height) var(--mat-sys-headline-medium-font),
    headline-small: var(--mat-sys-headline-small-weight) var(--mat-sys-headline-small-size) / var(--mat-sys-headline-small-line-height) var(--mat-sys-headline-small-font),
    display-large: var(--mat-sys-display-large-weight) var(--mat-sys-display-large-size) / var(--mat-sys-display-large-line-height) var(--mat-sys-display-large-font),
    display-medium: var(--mat-sys-display-medium-weight) var(--mat-sys-display-medium-size) / var(--mat-sys-display-medium-line-height) var(--mat-sys-display-medium-font),
    display-small: var(--mat-sys-display-small-weight) var(--mat-sys-display-small-size) / var(--mat-sys-display-small-line-height) var(--mat-sys-display-small-font),
    headline-large-font: var(--mat-sys-brand-font-family),
    headline-medium-font: var(--mat-sys-brand-font-family),
    headline-small-font: var(--mat-sys-brand-font-family),
    display-large-font: var(--mat-sys-brand-font-family),
    display-medium-font: var(--mat-sys-brand-font-family),
    display-small-font: var(--mat-sys-brand-font-family),
    title-large-font: var(--mat-sys-brand-font-family),
  ));

}


$theme: mat.define-theme((
  color: (
    primary: theme.$primary-palette,
    tertiary: theme.$tertiary_palette,
    use-system-variables: true,
    theme-type: light,
  ),
  typography: (
    plain-family: Roboto Mono,
    brand-family: Roboto 'sans-serif',
    bold-weight: 700,
    medium-weight: 500,
    regular-weight: 400,
  ),
  density: (
    scale: -2,
  )
));


html {
  color-scheme: light dark;
  @include mat.all-component-themes($theme);
  @include mat.color-variants-backwards-compatibility($theme);
  @include mat.theme(($theme));
  @include mat.system-level-typography($theme, (), display);
}

html, body {
  height: 100%;
}

@include mat.form-field-overrides((
  outlined-label-text-color: var(--mat-sys-on-scrim),
  outlined-focus-label-text-color: var(--mat-sys-scrim),
  outlined-hover-outline-color: var(--mat-sys-secondary),
  outlined-caret-color: var(--mat-sys-secondary),
  outlined-input-text-placeholder-color: var(--mat-sys-surface-tint),
  outlined-error-focus-label-text-color: var(--mat-sys-error),
  outlined-error-focus-outline-color: var(--mat-sys-error-container),
  outlined-error-label-text-color: var(--mat-sys-error),
  outlined-error-hover-outline-color: var(--mat-sys-error),
));


  body {
    font-family: Roboto, Roboto Mono, "Helvetica Neue", sans-serif;
    margin: 0;
    background: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
  }

  .full-width {
    width: 100%;
  }

  .fc-toolbar-chunk .btn .btn-group button {
    background-color: black !important;
    color: #d3d93b !important;
  }

  .staatliches-regular {
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


  ::-webkit-scrollbar {
    width: 5px;
    height: 100%;
    scroll-behavior: smooth;
    scrollbar-gutter: stable;

  }
  ::-webkit-scrollbar:vertical {
    height: 50%;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    width: 5px;
    //background-color: #0c0f0f;
    border-radius: 5px;
    border: 1px solid black;
  }

  ::-webkit-scrollbar-button {
    background: transparent;
    color: #0c0f0f;
  }

  @import '@fortawesome/fontawesome-free/css/all.css';
  @import 'mdb-angular-ui-kit/assets/scss/mdb.scss';

