<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <cdk-accordion>
      <cdk-accordion-item
        *ngFor="let notebook of notebookData; let i = index; trackBy: trackByNotebookId"
        #accordionItem="cdkAccordionItem"
        class="accordion-item">
        <div class="notebook-button-container">
          <button

            mat-button
            (click)="accordionItem.toggle(); toggleNotebook(notebook.id)"
            tabindex="0"
            [attr.id]="'accordion-header-' + i"
            [attr.aria-expanded]="accordionItem.expanded"
            [attr.aria-controls]="'accordion-body-' + i"
            class="notebook-button">
            <span class="button-text">{{ notebook.title }}</span>
            <mat-icon class="dropdown-icon">
              {{ accordionItem.expanded ? "arrow_drop_up" : "arrow_drop_down" }}
            </mat-icon>
          </button>
          <div>
          </div>
        </div>
        <mat-list
          *ngIf="accordionItem.expanded"
          class="example-accordion-item-body"
          role="group"
          [attr.id]="'accordion-body-' + i"
          [attr.aria-labelledby]="'accordion-header-' + i" @fadeIn>
          <ng-container *ngIf="!notebook.events?.length">
            <mat-list-item class="no-events">No events</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <button mat-button>Add event
                <mat-icon matListItemIcon>music_note_add</mat-icon>
              </button>
            </mat-list-item>
          </ng-container>
          <mat-list-item *ngFor="let event of notebook.events; trackBy: trackByEventId">
            <button mat-button (click)="selectedEvent($event, event, notebook.id)">
              <mat-icon matListItemIcon>music_note_add</mat-icon>
              {{ event.eventName }}
            </button>
          </mat-list-item>
          <mat-list-item>
            <button mat-button>Add event
              <mat-icon matListItemIcon>add_circle</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
      </cdk-accordion-item>
      <div class="add-notebook-container">
        <button mat-button class="add-notebook-btn" (click)="addNotebook()">
          <span class="add-notebook-text">Add Notebook</span>
          <mat-icon class="add-icon">add_box</mat-icon></button>
      </div>
    </cdk-accordion>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-container *ngIf="eventSelected">
<div class="display-btn-box">
      <button mat-fab extended *ngIf="displayMode === 'display'" (click)="toggleEditDisplay(eventSelected)">
        <mat-icon>preview</mat-icon>
      </button>
</div>


      <ng-container *ngIf="!editor; else editEvent">

        <app-display-events *ngIf="eventSelected" [displayMode]="'display'" [eventSelected]="eventSelected"></app-display-events>
      </ng-container>

      <ng-template #editEvent>
        <div class="edit-save-btn-box">
        <button mat-fab extended type="button" (click)="exitEditMode()">
          <mat-icon>preview</mat-icon>Back to display
        </button>
        <button type="submit" mat-raised-button [disabled]="!hasFormChanged()">
          Save changes
        </button>
        </div>


        <ng-container *ngIf="eventSelected && editor">
        <form [formGroup]="eventFormGroup">
          <app-edit-event
            [formGroup]="eventFormGroup"
            [eventSelected]="eventSelected"
            [displayMode]="'edit'"/>
        </form>
        </ng-container>
      </ng-template>

<button type="submit" mat-raised-button>Save changes</button>


    </ng-container>
  </mat-sidenav-content>


</mat-sidenav-container>
