<mat-expansion-panel >
  <mat-expansion-panel-header>
    <mat-panel-title><span class="title">Details</span></mat-panel-title>
    <mat-panel-description>
      <span>
        <mat-icon>nightlife</mat-icon>
    </span>
    </mat-panel-description>
  </mat-expansion-panel-header>
<form action="#" method="post" [formGroup]="detailForm" novalidate>
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>Event Name</mat-label>
        <input matInput id="eventNameId"
               [formControl]="eventName"
               type="text"
               placeholder="Enter event name"
        />
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field class="date-time">
        <mat-label>Date</mat-label>
        <input matInput
               [matDatepicker]="datepicker"
               placeholder="Select date of event"
        />
        <mat-hint><em>mm/dd/yyyy</em></mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button matDatepickerApply>Apply</button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="date-time">
        <mat-label>Pick a start time</mat-label>
        <input matInput id="startTime" formControlName="startTime" [matTimepicker]="pickerStart">
        <mat-timepicker-toggle matIconSuffix [for]="pickerStart"></mat-timepicker-toggle>
        <mat-timepicker #pickerStart></mat-timepicker>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="date-time">
        <mat-label>Pick an event time</mat-label>
        <input matInput id="endTime" formControlName="endTime" [matTimepicker]="pickerEnd">
        <mat-timepicker-toggle matIconSuffix [for]="pickerEnd"></mat-timepicker-toggle>
        <mat-timepicker #pickerEnd></mat-timepicker>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <button type="submit" (click)="onSubmit()" id="submitDetails">Submit</button>
  </div>
</form>
</mat-expansion-panel>
