@use '../../../../styles';

.date-time {
  max-width: fit-content;

}
form{display: grid; justify-content: space-evenly; margin-bottom: 3rem;}

form div.row {
  display: flex;
  flex-direction: row;
}

form div.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}
